p {
    color:#FFF;
    text-align:left;
}
h1 {
    color:#FFF;
}
nav {
    background-color:#190061;
}
body {
    background-color:#282828;
    font-family:Didact Gothic;
    text-align:center;
}
.jumbotron {
    background-color:#0c0032;
}
.jumbotron-text {
    color:#FFF;
    font-size:500%;
<<<<<<< HEAD
=======
}
.background-fx {
    background-color:#3500d3;
>>>>>>> 91d931722d5573eda04eb44997a61a9a7c5e6411
}
.img-fix {
    width:50%;
    border-color:#240090;
    border-width:10px;
    border-style:solid;
}
